body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  background-color: darkslategrey;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.app-logo{
  width: 80px;
  height: 50px;
}
.search{
  width: 50%;
  height: 30px;
  margin-left: 20px;
}
.cart-img{
  width: 50px;
  height: 40px;
  position: relative;
}
.overlay{
  position: absolute;
  background-color: red;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  height: 20px;
  font-size: 12px;
  color: yellow;
}
.cart{
  display: flex;
  align-items: center;
}
.carousel-container img{
  width: 100%;
  height: 300px;
}
.nav{
  position: absolute;
  top:20%
}
.left{
  left: 10px;
}
.right{
  left: 90%;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px 40px 40px;
  background-color: #efefef;
  
  margin-top: -50px;
}
.deals-container{
  
  padding: 0 40px 40px 40px;
  background-color: #efefef;
  position: relative;

}
.deals{
 
  background-color: white;
  height: 300px;
  width: 100%;
}
.deals-carousel{
  display: flex;
  overflow: auto;

}
.deals span{
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 22px;
}
.see-all{
  font-size: 14px !important;
  color: dodgerblue;
  font-weight: normal !important;
  margin-top: 28px !important;
}
.card{
  width: 320px;
  height: 385px;
  background-color: white;
  margin: 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.item img{
  width: 120px;
  height: 100px;
}
.items{
  display: flex;
  flex-wrap: wrap;
}
.item{
  margin: 10px;
}
.item p{
  margin-top: 0px;
  font-size: 12px;
}
.offers {
  margin-top: 0;
  color: dodgerblue;
  font-size: 12px;
}
.deal-cards{
  width: 240px;
  background-color: #efefef;
  height: 170px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  box-sizing: border-box;

}
.deal-cards img{
  width: 150px;
  height:   150px;
  margin: 0 auto;
  display: block;
}
.poff{
  background-color: red;
  color: white;
  width: 100px;
  display: inline-block;
  padding: 0 10px 0 10px;
  margin-left: 20px;
  margin-top: 5px;
}
.poff-span{
  font-size: 12px !important;
  color: red ;
}
.product-main{
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.route{
  font-size: 12px;
  color: grey;
  margin-top: 20px;
}
.product-details{
  display: flex;
  padding: 30px;
  box-sizing: border-box;
}
.product-imgs{
  margin-top: 25px;
  width: 30%;
  height: 400px;
  margin-left: 20px;
}
.product-desc{
  margin-top: 25px;
  width: 40%;
  height: 400px;
  margin-left: 20px;
}
.hover:hover .rating-desc{
 transition: all 1000ms;
 height: 300px;
 border: 1px solid grey;
}
.rating-desc{
  background-color: #fff;
  height: 0px;
  overflow: hidden;
  width: 200px;

box-sizing: border-box;
  position: absolute;

}
.product-imgs img{
  width:100%;

}
.product-imgs img:hover{
  transform: scale(1.5);
  transition: all 500ms;
  margin-left: 100px;

}
.img-btns{
  padding-top: 50px;
  width: 5%;
}
.thumbnail{
  border-radius: 10px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.thumbnail img{
 width: 90%;
 height: 90%;
display: block;
margin: 0 auto;
border-radius: 10px;
cursor: pointer;

}
.percent-rating{
  margin-top: 20px;
}
.outer{
  display: inline-flex;
  border: 1px solid black;
  width: 120px;
  height: 20px;
  vertical-align: middle;
  align-items: center;
}
.inner{
  
  background-color: gold;
  height: 18px;
 
}
.deal{
  width: 50px;
  height: 35px;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  
  justify-content: center;
  
}
.discount{
  font-size: 24px;
  color: red;
}
.sp{
  color: black;
  font-weight: 500;
}
.mrp{
  font-size: 12px;
  color: grey;
  margin-top: -20px;
}
.offer-carousel{
  display: flex;
  width: 100%;
  overflow: auto;
}
.offer{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin-left: 20px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
}
.extra-benefits{
  display: flex;
  width: 100%;
  padding: 20px;
}
.benefits{
  width: 50px;
  height: 50px;
  background-color: #efefef;
  flex-shrink: 0;
  margin-left: 20px;
}
.benefits p{
  font-size: 12px;
  color: dodgerblue;
}
.styles{
  width: 100px;
  height: 50px;
  border: 1px solid orange;
  margin-left: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.buying-info{
  border: 1px solid orange;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  box-sizing: border-box;
}
.add-ons{
  display: flex;
  width: 100%;
  overflow: auto;
  height: 200px;
}
.add-on{
  width: 100px;
  height: 150px;
  flex-shrink: 0;
  margin-left: 20px;
}
.buy{
  margin-top: 25px;
  width: 25%;
  height: auto;
  margin-left: 30px;
  border: 1px solid #efefef;
padding-left: 10px;
padding-top: 0px;
padding-bottom: 20px;
box-sizing: border-box;
}
.actions{
  width: 100%;
  height: 30px;
cursor: pointer;
  border-radius: 20px;
  border: none;
  margin-top: 10px;

  text-align: center;
}
.cart-btn{
  background-color: yellow;
}
.buy-btn{
  background-color: orange;
}
.wishlist{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  border:  1px solid gray;
  
}
.centered{
  margin: 0 auto;
  width: 90%;
}
.cart-container{
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: #efefef;
}
.cart-product{
  width: 75%;
  height: fit-content;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
.cart-product-pricing{
  
  height: fit-content;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
}
.cart-buy-btn{
  width: 100%;
  height: 30px;
  background-color: hwb(53 9% 16%);
  border: none;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sub-cart-prod{
  display: flex;
  margin-top: 40px;
}
.sub-cart-prod img {
  width: 240px;
  height: 140px;
}
.sub-cart-details{
  margin-top: -30px;
  width: 60%;
}
.cart-action{
  border-left: .2px solid #efefef;
  border-right: .2px solid #efefef;
  font-size: 12px;
  color: dodgerblue;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

}
.suggestions{
  height: fit-content;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 20px;
border-radius: 10px;
}
.suggested-products{
  display: flex;
  margin-top: 20px;
}
.suggested-products img{
  height: 75px;
  width: 100px;
}
.side-prod-desc{
  margin-left: 5px;
}
.suggested-cart-btn{
  width: 100px;
  height: 25px;
  background-color: yellow;
  display: block;
  border: none;
  border-radius: 20px;
}

